@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Zen+Loop:ital@1&display=swap');
body {
    background-color: green;
}
.sidenav {
    height: 300px;
}
.brand-logo {
    margin-left: 10px;
    font-family: 'Otomanopee One', sans-serif; 
}
