@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html, body {
    width:100%;
    height:100%;
    padding:0;
    background-color: grey;
}
.wrapper {
    width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;
    font-size:medium;
}
.text-decoration {
    line-height: 2em;
    text-shadow: 2px 2px 2px black;
    margin-left: 0;
}
.text-nav {
    margin-left: 20%;
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem;
}
.white {
    background-color: white;
}
.sidenav {
    height: 300px;
}
.brand-logo, h2 {
    width: 100%;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem;
}
 /*.col {
    border: 1px solid black;
} */
.container {
    margin-top:20px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.images {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe {
    text-align: center;
}
.video {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
  }
  .video iframe {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
  }
  .vid-title {
      text-align: center;
      color: white;
      font-family: 'Homemade Apple', cursive; 
  }

