{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- <div class="col s12 m6"> -->
      <div class="card center-align grey darken-2 ">
        <div class="card-content white-text">
          <span class="card-title error"><h1>Error 404</h1></span>
          <h3 class="error">Αλίμονο, η σελίδα δεν βρέθηκε !!</h3>
          <p class="error">roughly translated means......</p>
          <h3 class="error">Alas, page not found!!</h3>
        </div>
        <div class="card-action">
          <a href="{{ url_for('home') }}"><h6 class="error white-text">Home</h6></a>
        </div>
      </div>
    <!-- </div> -->
  </div>
  

{% endblock %}