<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Aesops Fables</title>
    <link rel="shortcut icon" type="image/jpg" href="static/images/favicon.png"/>
</head>

<body>
    <header>
        <nav class="nav-extended grey darken-2">
            <div class="nav-wrapper tabstyle">
                <span class="titlestyle"><a href="{{ url_for('home') }}">Aesops Fables</a></span>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{ url_for('fables') }}">Most Loved Fables</a></li>
                    <li><a href="{{ url_for('quiz') }}">Quiz Time!!!</a></li>
                    <li><a href="{{ url_for('competition') }}">Competition</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Your Stories</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                   
                </ul>
            </div>
        </nav>

        <ul class="sidenav grey darken-2" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><a href="{{ url_for('fables') }}">Most Loved Fables</a></li>
            <li><a href="{{ url_for('quiz') }}">Quiz Time!!!</a></li>
            <li><a href="{{ url_for('competition') }}">Competition</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Your Stories</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
           
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="text-decoration center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <div class="col s12 container footer">
                
                <a href="https://www.linkedin.com/in/jamie-wilson-b74553203" target=_blank><i class="fab fa-linkedin icons"></i></a>
                <a href="https://github.com/JamieWilson2000?tab=repositories" target=_blank><i class="fab fa-github-square icons"></i></a>
                <a href="https://en.wikipedia.org/wiki/Aesop%27s_Fables" target=_blank><i class="fab fa-wikipedia-w icons"></i></a>
                <span>© Jamie Wilson 2021</span>
                
            </div>
        </div>
    </footer>

    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>