{% extends "base.html" %}
{% block content %}

<div class="wrapper">
    <div>
        <h2 class="text-decoration">Most Loved Fables</h2>
    </div>

    <!--First fable-->
    <div class="col s6 text-decoration">
        <h5 class="vid-title">" The Tortoise and the Hare "</h5>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/-RKB_zNCrJw" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div>
        <i class="fab fa-pagelines vidbreak"></i>
    </div>

    <!--Second fable-->
    <div class="col s6 text-decoration">
        <h5 class="vid-title">" The Fox and the Crow "</h5>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/o-M8rKiq35s" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div>
        <i class="fab fa-pagelines vidbreak"></i>
    </div>
    
    <!--Third fable-->
    <div class="col s6 text-decoration">
        <h5 class="vid-title">" The Ant and the Grasshopper "</h5>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/_svBrlehmMo" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    
    <div>
        <i class="fab fa-pagelines vidbreak"></i>
    </div>

    <!--Fourth fable-->
    <div class="col s6 text-decoration">
        <h5 class="vid-title">" The Lion and the Mouse "</h5>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/iPybpc-xuG0" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div>
        <i class="fab fa-pagelines vidbreak"></i>
    </div>

    <!--Fifth fable-->
    <div class="col s6 text-decoration">
        <h5 class="vid-title">" The Old Lion and the Fox "</h5>
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/kG3lWRYw270" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    

    <!--Bottom Navigation buttons-->
    <div class="row">
        <a href="{{ url_for('fables') }}" class="col s12">
            <h5 class="text-decoration back-nav">Back to the
                top...</h5>
        </a>
    </div>

</div>

{% endblock %}