{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--Opening Header-->
    <div class="row">
        <div class="col s12 grey darken-2">
            <h2 class="text-decoration text-white">The History of Aesops Fables</h2>
        </div>
    </div>
    <!--Main feature-->
    <div class="row">
        <div class="col s6">
            <img src="{{ url_for('static', filename='images/aesop-1.jpg') }}" class="shadow" alt="aesop portrait">
        </div>
        <div class="col s6">
            <p>
                Aesop, the slave and storyteller is believed to have been alive around 620 and 564 BCE and living in
                ancient Greece. 
            </p>
            <p class="hide-on-small-only">
                He was known to transform situations represented by animals into feasible life lessons.
                Scattered details of Aesop's life can be found in ancient sources, including Aristotle, Herodotus, and Plutarch. An ancient literary work called The Aesop Romance tells an episodic, probably highly fictional version of his life, including the traditional description of him as a strikingly ugly slave who through his cleverness acquired freedom and became an adviser to kings and city-states.
            </p>
            <p class="hide-on-med-and-down">
                Aesop may not have written his fables. The Aesop Romance claims that he wrote them down and deposited them in the library of Croesus; Herodotus calls Aesop a "writer of fables" and Aristophanes speaks of "reading" Aesop, but that might simply have been a compilation of fables ascribed to him. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <img src="{{ url_for('static', filename='images/perugia.jpg') }}" class="shadow" alt="carving-in-Perugia">
        </div>

        <div class="row">
            <div class="col s12">
                <p>
                    This detail of the 13th-century Fontana Maggiore in Perugia, Italy, with the fables of The Wolf and
                    the Crane and The Wolf and the Lamb show how respected Aesops stories have been throughout the
                    centuries. With origins stretching as far afield as India, philosophers have been left wondering had
                    the fables reached out across continents or was Aesop inspired by stories told by fellow slaves,
                    sold in from foreign lands.
                </p>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image caxton-img">
                    <img src="{{ url_for('static', filename = 'images/caxton-fables1484.png') }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>The fable of the farmer and his sons from Caxton's edition, 1484</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>The first printed version of Aesop's Fables in English was published on 26 March 1484, by William Caxton. Many others were to follow over the centuries. Until the 18th century the fables were largely put to adult use by teachers, preachers, speech-makers and moralists. It was the philosopher John Locke who first seemed to have advocated targeting children as a special audience in "Some Thoughts Concerning Education" (1693).</p>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>An early fables book by Walter Crane, 1887</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="{{ url_for('static', filename = 'images/crane_title1887.jpg') }}">
                </div>
                
            </div>
        </div>

        <!--Bottom Navigation buttons-->
        <div class="row">
            <a href="{{ url_for('quiz') }}" class="col s12"><h5 class="text-decoration back-nav">Back to the
                top...</h5></a>
          </div>

    </div>

    <div>

    </div>

    {% endblock %}