{% extends "base.html" %}
{% block content %}


<div class="col s12">
    <h2 class="text-decoration">{{ username }}'s Stories</h2>
</div>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><h5 class="text-decoration"> {{ storytitle }}Hello World</h5></div>
        <div class="collapsible-body"><span>Hello World</span></div>
    </li>
</ul>

<!-- <div>
    <div class="col s12">
        {% for i in info %}
        <h2 class="text-decoration">{{ i.username }}'s Stories</h2>
        
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><h5 class="text-decoration">{{ i.storytitle }}</h5></div>
            <div class="collapsible-body"><span>{{ i.story }}</span></div>
        </li>
    </ul>
    {% endfor%}
</div> -->
<!-- 
{% for i in info %}
{{ i.username }}<br>
{{ i.storytitle}}<br>
{{ i.story }}<br>
{% endfor%} -->

{% endblock %}