{% extends "base.html" %}
{% block content %}


<div class="container">
  <!--Opening Header-->
  <div class="row">
    <div class="col s12">
      <img src="{{ url_for('static', filename='images/fable-wall-depiction.jpg') }}" alt="homepage-image">
    </div>
    <div class="col s12">
      <h2 class="text-decoration">Quiz Time!!!</h2>
    </div>
  </div>
  <!--Quiz Cards-->
  <!--Question 1-->
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Question 1</span>
      <p>
        When was Aesop thought to have been alive?<br>
        <br>
        Was it....<br>
        <br>
        a) Between 1024 and 1068<br>
        b) Between 620 and 564 BCE<br>
        c) Between 210 and 280 AD<br>
        <br>
      </p>
      <span class="card-title activator grey-text text-darken-4">Click to reveal the answer....</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Were you right?<i class=" close fas fa-times"></i></span>
      <p>Aesop, the slave and storyteller is believed to have been alive around 620 and 564 BCE</p>
    </div>
  </div>
  <!--Question 2-->
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Question 2</span>
      <p>
        Where did Aesop live?<br>
        <br>
        Did he live in....<br>
        <br>
        a) Ancient Greece<br>
        b) Ancient Rome<br>
        c) Ancient Spain<br>
        <br>
      </p>
      <span class="card-title activator grey-text text-darken-4">Click to reveal the answer....</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Were you right?<i class=" close fas fa-times"></i></span>
      <p>Aesop lived in Ancient Greece.</p>
    </div>
  </div>

  <!--Question 3-->
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Question 3</span>
      <p>
        When telling his stories, how did Aesop portray his main characters?<br>
        <br>
        Were they....<br>
        <br>
        a) Superheroes<br>
        b) Gladiators<br>
        c) Animals<br>
        <br>
      </p>
      <span class="card-title activator grey-text text-darken-4">Click to reveal the answer....</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Were you right?<i class=" close fas fa-times"></i></span>
      <p>Aesop mainly used animals in his storytelling but their actions and personalities reflected those of humans.
      </p>
    </div>
  </div>

  <!--Question 4-->
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Question 4</span>
      <p>
        Although Aesops fables had been around for thousands of years, what year was the fables first printed in
        English?<br>
        <br>
        Was it....<br>
        <br>
        a) 1290<br>
        b) 1484<br>
        c) 1687<br>
        <br>
      </p>
      <span class="card-title activator grey-text text-darken-4">Click to reveal the answer....</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Were you right?<i class=" close fas fa-times"></i></span>
      <p>The first printed version of Aesop's Fables in English was published on 26 March 1484, by William Caxton.</p>
    </div>
  </div>

  <!--Question 5-->
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Question 5</span>
      <p>
        Do you remember the story of the Tortoise and the Hare? Do you remember what the moral of that story was?<br>
        <br>
        Was it....<br>
        <br>
        a) If you're good at something you should show off in front of everybody<br>
        b) Slow and steady wins the race<br>
        c) You must rush through things so you can do little work and lots of rest.<br>
        <br>
      </p>
      <span class="card-title activator grey-text text-darken-4">Click to reveal the answer....</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Were you right?<i class=" close fas fa-times"></i></span>
      <p>Slow and steady wins the race, <br>although if you are good at something there's no harm in being confident in
        your talent!!</p>
    </div>
  </div>

  <!--Bottom Navigation Button-->
  <div class="row">
    <a href="{{ url_for('quiz') }}" class="col s12"><h5 class="text-decoration back-nav">Back to the
        top...</h5></a>
  </div>
</div>

<div>

</div>

{% endblock %}