{% extends "base.html" %}
{% block content %}

<div class="col s12">
    <h2 class="text-decoration">Register</h2>
</div>

<div class="col s12 ">
    <p class="text-decoration text-position">
        Register here to access extra content and be able to submit your own story!!
    </p>
</div>
<br>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">

            <!-- username field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix grey-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" class="validate" required>
                    <label for="username">Please Choose Username</label>
                </div>
            </div>

            <!-- email field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope-open-text prefix grey-text text-darken-4"></i>
                    <input id="email" name="email" type="text" class="validate" required>
                    <label for="email">Please enter email address</label>
                </div>
            </div>

            <!-- password field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix grey-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$" class="validate" required>
                    <label for="password">Please Create Password</label>
                </div>
            </div>

            <!-- register button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large grey darken-2 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}